In [1]:
!python --version

Python 3.11.10

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
#import random
import numpy as np
import pandas as pd

In [4]:
from line_profiler import LineProfiler

In [5]:
import matplotlib.pyplot as plt

In [6]:
%matplotlib inline

In [30]:


#                             0    1+   31+   61+   91+   WOF
dod_migration = np.array([[0.95, 0.05, 0.00, 0.00, 0.00, 0.00], #  0 
                          [0.90, 0.05, 0.05, 0.00, 0.00, 0.00], #  1+
                          [0.10, 0.05, 0.05, 0.80, 0.00, 0.00], # 31+
                          [0.05, 0.05, 0.05, 0.05, 0.80, 0.00], # 61+
                          [0.01, 0.01, 0.02, 0.02, 0.04, 0.90], # 91+
                          [0.00, 0.00, 0.00, 0.00, 0.00, 1.00]  # WOF
#                          [0.00, 0.00, 0.00, 0.00, 0.00, 1.00]  # TODO - добавить досрочное и часичнодочсрочное погашение кредита 
                         ])
[i.sum() for i in dod_migration]

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [9]:
class World():
    """Class World - Макромир, который задает начало отсчета времени,
    законы макроэкономики, ограничения регуляторов/ЦБ и остальное окружение.
    """

    def __init__(self):
        self.World_Time = 0

In [12]:
class DWH_DB():
    """Class DWH - база данных
    """
    def __init__(self):
        self.LI = pd.DataFrame(columns = ['CNTR_ID',
                                          'SD',
                                          'DOD_ID',
                                          'MOB',
                                          'WRTOFF_ID',
                                          'CLOSED_ID'
                                          ])
        self.DMContract = pd.DataFrame(columns = ['CNTR_ID',
                                                  'ISSUE_DT',
                                                  'WRTOFF_DT',
                                                  'CLOSED_DT'
                                                 ])

In [31]:
class Contract():
    """Class Contract
       issue_dt - issue of contract
       duration - duration in months
    """

    dod_dic = {0: '0',
               1: '1+',
               2: '31+',
               3: '61+',
               4: '91+',
               5: 'WOF'
              }
    dod_cnt = 6 # кол-во состояний
    dod_states = np.eye(dod_cnt) # матрица состояний (для удобства использована единичная матрица)

    def __init__(self, cntr_id = 0, issue_dt = 0, duration = 0,
                 dod_migration = None):
        self.cntr_id = cntr_id
        self.dod_id = 0        # начальное состояние контракта при выдачи: DOD = 0
        self.dod_state = self.dod_states[0] # np.array([1,0,0,0,0]) 
        self.dod_migration = dod_migration
        self.issue_dt = issue_dt
        self.mob = 0
        self.duration = duration
        self.closed_id = 0       # 0 - контратк открыт, 1 - закрыт
        self.wrtoff_id = 0       # 0 - контратк несписан, 1 - списан
        
    def next_month(self):
        if self.closed_id == 1:
            return None
           
        self.mob = self.mob + 1
        p = self.dod_migration.T.dot(self.dod_state) # array of probabilities
        self.dod_id = np.random.choice(self.dod_cnt,1,p=p)[0] # new state
        self.dod_state = self.dod_states[self.dod_id]

        if self.dod_id == 0 and self.mob >= self.duration: # погашение либо выздоровление с возвращением в график
            self.closed_id = 1
        
        if self.dod_id == 5 and self.mob >= self.duration + 12: # списание
            self.wrtoff_id = 1

        if self.wrtoff_id == 1 and self.mob >= self.duration + 24: # закрытие списанного контракта
            self.closed_id = 1

In [58]:
class Portfolio():
    """Class Portfolio - Портфель - динамика 
        N - первая выдача при создании портфеля
        start_portfolio_dt - привязка портфеля к мировому времени - важно при наличии нескольких портфелей
    
    """
    def __init__(self, N = 10, duration = 36, start_portfolio_dt = 0):
        self.cntr_id = 0                                # счетчик контрактов
        self.start_portfolio_dt = start_portfolio_dt    # дата создания портфеля
        self.cntr_list = []                             # сам портфель - список контрактов
        self.portfolio_age = 0                          # возрвст портфеля

        # проведем первую выдачу - инициализация портфеля
        self.issue(N, duration)
        # Заполним LI
        self.fix_in_dwh()

    def issue(self, N = 10, duration = 36):
        for i in range(N):
            self.cntr_id += 1
            self.cntr_list.append(Contract(cntr_id = self.cntr_id, 
                                           issue_dt = self.start_portfolio_dt,
                                           duration = duration,
                                           dod_migration = dod_migration))

    def next_month(self, N = 10, duration = 36):
        self.portfolio_age +=1

        # Для проверки - выведем все закрытые на этот момент контракты
        test = [cntr.cntr_id for cntr in self.cntr_list if cntr.closed_id == 1 ]

        # Перезапишем список только открытыми контрактами 
        self.cntr_list = [cntr for cntr in self.cntr_list if cntr.closed_id == 0 ]
        
        # сдвинем существующий портфель, потом проведем выдачу новых         
        for cntr in self.cntr_list:
            cntr.next_month()
            
        # проведем выдачи
        self.issue(N, duration)

        # Заполним LI
        self.fix_in_dwh()

        print('%04i' % self.portfolio_age, len(self.cntr_list), 'out ->',  test)    

    def fix_in_dwh_old(self): # Пример медленной вставки
        ix = len(DWH.LI.index)
        for cnt in self.cntr_list:
            DWH.LI.loc[ix] = [cnt.cntr_id, self.portfolio_age, cnt.dod_id, cnt.mob]
            ix += 1

    def fix_in_dwh(self):
        fix_data = [[cnt.cntr_id, self.portfolio_age, cnt.dod_id, cnt.mob, cnt.wrtoff_id, cnt.closed_id] for cnt in self.cntr_list]
        DWH.LI = pd.concat([DWH.LI,
                            pd.DataFrame(data=fix_data,
                                         columns=DWH.LI.columns)
                           ])

In [59]:
%time
N_const = 10 # Пусть будут постоянные ежемесячные выдачи 
duration = 24
DWH = DWH_DB()
GP = Portfolio(N_const, duration)

CPU times: user 4 μs, sys: 1 μs, total: 5 μs
Wall time: 9.3 μs

In [77]:
for t in range(100):
    GP.next_month(N_const, duration)

0101 261 out -> [761, 762, 763, 764, 765, 766, 767, 768, 769, 770]
0102 262 out -> [771, 772, 773, 774, 776, 777, 778, 779, 780]
0103 263 out -> [781, 782, 784, 785, 786, 787, 788, 789, 790]
0104 264 out -> [791, 793, 794, 795, 796, 797, 798, 799, 800]
0105 264 out -> [792, 801, 802, 803, 804, 805, 806, 808, 809, 810]
0106 263 out -> [579, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820]
0107 263 out -> [821, 822, 823, 824, 825, 826, 827, 828, 829, 830]
0108 263 out -> [831, 832, 833, 834, 835, 836, 837, 838, 839, 840]
0109 262 out -> [602, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850]
0110 263 out -> [851, 852, 853, 854, 855, 856, 857, 858, 859]
0111 263 out -> [629, 861, 862, 864, 865, 866, 867, 868, 869, 870]
0112 262 out -> [636, 863, 871, 872, 873, 874, 875, 876, 877, 879, 880]
0113 263 out -> [881, 882, 883, 884, 885, 886, 887, 888, 890]
0114 262 out -> [651, 657, 889, 891, 893, 894, 895, 896, 898, 899, 900]
0115 261 out -> [663, 667, 901, 902, 903, 904, 905, 906, 907, 908, 910]
0116 262 out -> [911, 912, 913, 914, 916, 917, 918, 919, 920]
0117 262 out -> [915, 921, 922, 923, 924, 926, 927, 928, 929, 930]
0118 262 out -> [925, 931, 932, 933, 935, 936, 937, 938, 939, 940]
0119 264 out -> [941, 943, 944, 945, 946, 947, 948, 949]
0120 264 out -> [942, 951, 953, 954, 955, 956, 957, 958, 959, 960]
0121 265 out -> [952, 961, 962, 964, 965, 966, 967, 968, 969]
0122 265 out -> [731, 970, 971, 972, 973, 974, 975, 977, 978, 980]
0123 264 out -> [747, 979, 981, 983, 984, 985, 986, 987, 988, 989, 990]
0124 264 out -> [757, 991, 992, 993, 994, 995, 996, 997, 998, 999]
0125 264 out -> [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010]
0126 264 out -> [775, 1011, 1012, 1014, 1015, 1016, 1017, 1018, 1019, 1020]
0127 262 out -> [783, 1013, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030]
0128 262 out -> [1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040]
0129 262 out -> [807, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1050]
0130 263 out -> [1049, 1051, 1054, 1055, 1056, 1057, 1058, 1059, 1060]
0131 261 out -> [1052, 1053, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070]
0132 261 out -> [1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080]
0133 262 out -> [1081, 1082, 1083, 1085, 1086, 1087, 1088, 1089, 1090]
0134 260 out -> [860, 1084, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100]
0135 260 out -> [1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110]
0136 261 out -> [878, 1111, 1112, 1113, 1115, 1116, 1117, 1119, 1120]
0137 261 out -> [1114, 1121, 1122, 1123, 1124, 1126, 1127, 1128, 1129, 1130]
0138 261 out -> [892, 897, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1140]
0139 259 out -> [909, 1138, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150]
0140 259 out -> [1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160]
0141 260 out -> [1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170]
0142 259 out -> [934, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180]
0143 260 out -> [950, 1181, 1182, 1183, 1186, 1187, 1188, 1189, 1190]
0144 261 out -> [1184, 1185, 1191, 1192, 1193, 1194, 1195, 1196, 1200]
0145 261 out -> [963, 1201, 1202, 1203, 1204, 1206, 1207, 1208, 1209, 1210]
0146 260 out -> [976, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220]
0147 261 out -> [982, 1221, 1222, 1223, 1225, 1226, 1227, 1229, 1230]
0148 263 out -> [1000, 1232, 1233, 1234, 1235, 1236, 1238, 1239]
0149 262 out -> [1237, 1240, 1241, 1242, 1243, 1245, 1246, 1247, 1248, 1249, 1250]
0150 264 out -> [1251, 1252, 1254, 1255, 1256, 1257, 1258, 1260]
0151 265 out -> [1253, 1262, 1263, 1264, 1265, 1266, 1267, 1269, 1270]
0152 265 out -> [1261, 1271, 1272, 1274, 1275, 1276, 1277, 1278, 1279, 1280]
0153 264 out -> [1273, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290]
0154 266 out -> [1291, 1292, 1293, 1294, 1295, 1298, 1299, 1300]
0155 267 out -> [1296, 1301, 1302, 1303, 1304, 1305, 1306, 1308, 1310]
0156 267 out -> [1297, 1311, 1312, 1314, 1315, 1316, 1317, 1318, 1319, 1320]
0157 266 out -> [1313, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330]
0158 267 out -> [1331, 1332, 1333, 1334, 1335, 1337, 1338, 1339, 1340]
0159 268 out -> [1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1350]
0160 267 out -> [1118, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360]
0161 266 out -> [1125, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370]
0162 266 out -> [1139, 1371, 1372, 1373, 1374, 1376, 1377, 1378, 1379, 1380]
0163 267 out -> [1381, 1382, 1383, 1385, 1386, 1387, 1388, 1389, 1390]
0164 269 out -> [1391, 1393, 1394, 1396, 1397, 1398, 1399, 1400]
0165 266 out -> [1161, 1392, 1395, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410]
0166 266 out -> [1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420]
0167 267 out -> [1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429]
0168 266 out -> [1197, 1198, 1199, 1431, 1432, 1434, 1435, 1436, 1438, 1439, 1440]
0169 265 out -> [1205, 1433, 1437, 1441, 1442, 1443, 1444, 1445, 1447, 1449, 1450]
0170 264 out -> [1448, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460]
0171 262 out -> [1224, 1228, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470]
0172 262 out -> [1231, 1471, 1472, 1474, 1475, 1476, 1477, 1478, 1479, 1480]
0173 260 out -> [1244, 1473, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490]
0174 259 out -> [1259, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500]
0175 260 out -> [1268, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509]
0176 261 out -> [1511, 1512, 1513, 1514, 1515, 1516, 1517, 1519, 1520]
0177 263 out -> [1522, 1523, 1524, 1525, 1526, 1528, 1529, 1530]
0178 264 out -> [1521, 1531, 1532, 1534, 1535, 1536, 1538, 1539, 1540]
0179 262 out -> [1307, 1309, 1533, 1537, 1541, 1542, 1545, 1546, 1547, 1548, 1549, 1550]
0180 260 out -> [1543, 1544, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560]
0181 261 out -> [1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569]
0182 259 out -> [1336, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580]
0183 261 out -> [1349, 1581, 1582, 1584, 1586, 1587, 1589, 1590]
0184 260 out -> [1583, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600]
0185 261 out -> [1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610]
0186 259 out -> [1375, 1601, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620]
0187 259 out -> [1384, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1629, 1630]
0188 259 out -> [1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640]
0189 262 out -> [1641, 1642, 1643, 1644, 1646, 1648, 1650]
0190 261 out -> [1649, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660]
0191 260 out -> [1430, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670]
0192 261 out -> [1671, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680]
0193 261 out -> [1446, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1690]
0194 260 out -> [1689, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700]
0195 262 out -> [1701, 1703, 1704, 1705, 1706, 1707, 1708, 1710]
0196 262 out -> [1709, 1711, 1712, 1714, 1715, 1716, 1717, 1718, 1719, 1720]
0197 263 out -> [1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730]
0198 263 out -> [1721, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740]
0199 261 out -> [1501, 1510, 1731, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750]
0200 261 out -> [1518, 1751, 1752, 1753, 1754, 1755, 1756, 1758, 1759, 1760]

In [97]:
T = DWH.LI.reset_index(drop=True)
print(T.shape)
T.tail()

(49211, 6)

      CNTR_ID   SD DOD_ID MOB WRTOFF_ID CLOSED_ID
49206    2006  200      0   0         0         0
49207    2007  200      0   0         0         0
49208    2008  200      0   0         0         0
49209    2009  200      0   0         0         0
49210    2010  200      0   0         0         0

In [79]:
T[T['CNTR_ID']==110]

     CNTR_ID  SD DOD_ID MOB WRTOFF_ID CLOSED_ID
659      110  10      0   0         0         0
769      110  11      0   1         0         0
889      110  12      0   2         0         0
1019     110  13      0   3         0         0
1159     110  14      0   4         0         0
1309     110  15      0   5         0         0
1469     110  16      0   6         0         0
1639     110  17      0   7         0         0
1819     110  18      0   8         0         0
2009     110  19      0   9         0         0
2209     110  20      1  10         0         0
2419     110  21      0  11         0         0
2639     110  22      0  12         0         0
2869     110  23      0  13         0         0
3109     110  24      0  14         0         0
3349     110  25      0  15         0         0
3592     110  26      0  16         0         0
3834     110  27      0  17         0         0
4077     110  28      0  18         0         0
4319     110  29      0  19         0         0
4564     110  30      0  20         0         0
4809     110  31      0  21         0         0
5054     110  32      0  22         0         0
5299     110  33      0  23         0         0
5543     110  34      0  24         0         1

In [80]:
T

      CNTR_ID   SD DOD_ID MOB WRTOFF_ID CLOSED_ID
0           1    0      0   0         0         0
1           2    0      0   0         0         0
2           3    0      0   0         0         0
3           4    0      0   0         0         0
4           5    0      0   0         0         0
...       ...  ...    ...  ..       ...       ...
49206    2006  200      0   0         0         0
49207    2007  200      0   0         0         0
49208    2008  200      0   0         0         0
49209    2009  200      0   0         0         0
49210    2010  200      0   0         0         0

[49211 rows x 6 columns]

In [81]:
G = T.groupby('SD')[['MOB']].agg(['count','mean']).reset_index()
G.columns = ['SD','CNT','MEAN']
G

      SD  CNT       MEAN
0      0   10        0.0
1      1   20        0.5
2      2   30        1.0
3      3   40        1.5
4      4   50        2.0
..   ...  ...        ...
196  196  262  13.110687
197  197  263  13.201521
198  198  263  13.247148
199  199  261  13.019157
200  200  261  12.969349

[201 rows x 3 columns]

In [83]:
G.groupby('CNT')['SD'].agg(['count','min']).tail(20)

     count  min
CNT
240      1   23
250      2   24
252      2   27
253      2   26
254      1   34
255      7   30
256      1   37
257      1   39
258     10   65
259     17   40
260     21   41
261     31   43
262     32   44
263     15   55
264     15   59
265      5  121
266      7  154
267      6  155
268      1  159
269      1  164

In [98]:
m_lag = 1  # период переката

ix_sd   = T['SD'] >= 40 # для кредитов сроком 24 мес
ix_dod  = T['DOD_ID'] < 4 # не дефолты
ix_open = T['CLOSED_ID'] == 0 # не закрытые
ix_mlag = T['SD'] <= (T['SD'].max()-m_lag) # ограничение на вызревание
D_F = T.loc[ix_sd & ix_dod & ix_mlag & ix_open, :]

In [99]:
D_F

      CNTR_ID   SD DOD_ID MOB WRTOFF_ID CLOSED_ID
7074      164   40      1  24         0         0
7081      171   40      0  23         0         0
7082      172   40      0  23         0         0
7083      173   40      0  23         0         0
7084      174   40      0  23         0         0
...       ...  ...    ...  ..       ...       ...
48945    1996  199      0   0         0         0
48946    1997  199      0   0         0         0
48947    1998  199      0   0         0         0
48948    1999  199      0   0         0         0
48949    2000  199      0   0         0         0

[37859 rows x 6 columns]

In [100]:
D_N = T.copy()
D_N['SD_OLD'] = D_N['SD']
D_N['SD'] = D_N['SD']-1

In [101]:
D_N

      CNTR_ID   SD DOD_ID MOB WRTOFF_ID CLOSED_ID SD_OLD
0           1   -1      0   0         0         0      0
1           2   -1      0   0         0         0      0
2           3   -1      0   0         0         0      0
3           4   -1      0   0         0         0      0
4           5   -1      0   0         0         0      0
...       ...  ...    ...  ..       ...       ...    ...
49206    2006  199      0   0         0         0    200
49207    2007  199      0   0         0         0    200
49208    2008  199      0   0         0         0    200
49209    2009  199      0   0         0         0    200
49210    2010  199      0   0         0         0    200

[49211 rows x 7 columns]

In [104]:
D = D_F.merge(D_N, on = ['CNTR_ID','SD'], how = 'left', suffixes=['_F','_N'])

In [105]:
D

,CNTR_ID,SD,DOD_ID_F,MOB_F,WRTOFF_ID_F,CLOSED_ID_F,DOD_ID_N,MOB_N,WRTOFF_ID_N,CLOSED_ID_N,SD_OLD
0,164,40,1,24,0,0,0,25,0,1,41
1,171,40,0,23,0,0,0,24,0,1,41
2,172,40,0,23,0,0,0,24,0,1,41
3,173,40,0,23,0,0,0,24,0,1,41
4,174,40,0,23,0,0,0,24,0,1,41
...,...,...,...,...,...,...,...,...,...,...,...
37854,1996,199,0,0,0,0,0,1,0,0,200
37855,1997,199,0,0,0,0,0,1,0,0,200
37856,1998,199,0,0,0,0,0,1,0,0,200
37857,1999,199,0,0,0,0,0,1,0,0,200
37858,2000,199,0,0,0,0,0,1,0,0,200

In [109]:
M = D.fillna(-1).groupby([#'SD',
           'DOD_ID_F','WRTOFF_ID_F','CLOSED_ID_F','DOD_ID_N','WRTOFF_ID_N','CLOSED_ID_N'])['CNTR_ID'].count()
M

/tmp/ipykernel_89957/4033939312.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  M = D.fillna(-1).groupby([#'SD',

DOD_ID_F  WRTOFF_ID_F  CLOSED_ID_F  DOD_ID_N  WRTOFF_ID_N  CLOSED_ID_N
0         0            0            0         0            0              32462
                                                           1               1388
                                    1         0            0               1845
1         0            0            0         0            0               1613
                                                           1                136
                                    1         0            0                 91
                                    2         0            0                103
2         0            0            0         0            0                  9
                                                           1                  1
                                    1         0            0                  5
                                    2         0            0                  5
                                    3         0            0                 96
3         0            0            0         0            0                  3
                                    1         0            0                  6
                                    2         0            0                  4
                                    3         0            0                  6
                                    4         0            0                 86
Name: CNTR_ID, dtype: int64