In [2]:
!python --version

Python 3.11.10

In [3]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [80]:
import numpy as np
import pandas as pd
from sklearn import metrics
from importlib import reload
import DS_risk

# Перезагрузите ранее импортированный модуль.
DS_risk = reload(DS_risk)
from DS_risk import World, Bank_DS, DWH_DB, Tariff, Contract, Portfolio

In [93]:
W = World()    # Инициализация мира
DS = Bank_DS() # Активности банка
DWH = DWH_DB() # Пародия на базу данных

test -  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
Hello DS!

In [6]:
# Создадим тарифные планы
tariff_01 = Tariff('TR01')
tariff_01.info()

tariff_02 = Tariff('TR02', IR = 0.18, DUR = 36)
tariff_02.info()

Name: TR01 TypePlan = Annuity IR = 0.12 Duration = 24 MD = 11.9046
Name: TR02 TypePlan = Annuity IR = 0.18 Duration = 36 MD = 16.6512

In [94]:
# Создадим портфель
GP = Portfolio(world = W, dwh = DWH)

In [95]:
N_const = 10 # Пусть будут постоянные ежемесячные выдачи

In [96]:
# Создадим план продаж
issue_plan = [(tariff_01, 100_000) for i in range(N_const//2)] + [(tariff_02, 100_000) for i in range(N_const//2)]

In [97]:
GP.next_month(issue_plan)

In [98]:
for t in range(100):
    GP.next_month(issue_plan)
GP.portfolio_age

101

In [106]:
# обновим справочники DWH
GP.update_dwh_dic()

In [100]:
LI = DWH.LI.reset_index(drop=True)
print(LI.shape)
LI.tail()

(27157, 6)

      CNTR_ID   SD DOD_ID MOB WRTOFF_ID CLOSED_ID
27152    1006  101      0   0         0         0
27153    1007  101      0   0         0         0
27154    1008  101      0   0         0         0
27155    1009  101      0   0         0         0
27156    1010  101      0   0         0         0

In [103]:
GP.cntr_dic[370].duration

36

In [105]:
LI[LI['CNTR_ID']==14]

      CNTR_ID  SD DOD_ID MOB WRTOFF_ID CLOSED_ID
23         14   2      0   0         0         0
43         14   3      0   1         0         0
73         14   4      0   2         0         0
113        14   5      0   3         0         0
163        14   6      0   4         0         0
223        14   7      0   5         0         0
293        14   8      0   6         0         0
373        14   9      0   7         0         0
463        14  10      0   8         0         0
563        14  11      0   9         0         0
673        14  12      0  10         0         0
793        14  13      0  11         0         0
923        14  14      0  12         0         0
1063       14  15      1  13         0         0
1213       14  16      2  14         0         0
1373       14  17      3  15         0         0
1543       14  18      4  16         0         0
1723       14  19      5  17         0         0
1913       14  20      5  18         0         0
2113       14  21      5  19         0         0
2323       14  22      5  20         0         0
2543       14  23      5  21         0         0
2773       14  24      5  22         0         0
3013       14  25      5  23         0         0
3259       14  26      5  24         0         0
3512       14  27      5  25         0         0
3774       14  28      5  26         0         0
4040       14  29      5  27         0         0
4312       14  30      5  28         0         0
4589       14  31      5  29         0         0
4871       14  32      5  30         0         0
5158       14  33      5  31         0         0
5450       14  34      5  32         0         0
5747       14  35      5  33         0         0
6050       14  36      5  34         0         0
6358       14  37      5  35         0         0
6666       14  38      5  36         1         0
6979       14  39      5  37         1         0
7292       14  40      5  38         1         0
7605       14  41      5  39         1         0
7918       14  42      5  40         1         0
8233       14  43      5  41         1         0
8546       14  44      5  42         1         0
8860       14  45      5  43         1         0
9174       14  46      5  44         1         0
9487       14  47      5  45         1         0
9801       14  48      5  46         1         0
10116      14  49      5  47         1         0
10431      14  50      5  48         1         1

In [102]:
DMC = DWH.DMContract.reset_index(drop=True)
print(DMC.shape)
DMC.tail(20)

(1010, 8)

      CNTR_ID  ISSUE_DT  WRTOFF_DT  CLOSED_DT  AMOUNT  DURATION    IR TARIFF
990       991       100          0          0  100000        24  0.12   TR01
991       992       100          0          0  100000        24  0.12   TR01
992       993       100          0          0  100000        24  0.12   TR01
993       994       100          0          0  100000        24  0.12   TR01
994       995       100          0          0  100000        24  0.12   TR01
995       996       100          0          0  100000        36  0.18   TR02
996       997       100          0          0  100000        36  0.18   TR02
997       998       100          0          0  100000        36  0.18   TR02
998       999       100          0          0  100000        36  0.18   TR02
999      1000       100          0          0  100000        36  0.18   TR02
1000     1001       101          0          0  100000        24  0.12   TR01
1001     1002       101          0          0  100000        24  0.12   TR01
1002     1003       101          0          0  100000        24  0.12   TR01
1003     1004       101          0          0  100000        24  0.12   TR01
1004     1005       101          0          0  100000        24  0.12   TR01
1005     1006       101          0          0  100000        36  0.18   TR02
1006     1007       101          0          0  100000        36  0.18   TR02
1007     1008       101          0          0  100000        36  0.18   TR02
1008     1009       101          0          0  100000        36  0.18   TR02
1009     1010       101          0          0  100000        36  0.18   TR02

In [104]:
DMC.head(20)

    CNTR_ID  ISSUE_DT  WRTOFF_DT  CLOSED_DT  AMOUNT  DURATION    IR TARIFF
0         1         1          0          1  100000        24  0.12   TR01
1         2         1          0          1  100000        24  0.12   TR01
2         3         1          0          1  100000        24  0.12   TR01
3         4         1          0          1  100000        24  0.12   TR01
4         5         1          0          1  100000        24  0.12   TR01
5         6         1          0          1  100000        36  0.18   TR02
6         7         1          0          1  100000        36  0.18   TR02
7         8         1          0          1  100000        36  0.18   TR02
8         9         1          0          1  100000        36  0.18   TR02
9        10         1          0          1  100000        36  0.18   TR02
10       11         2          0          1  100000        24  0.12   TR01
11       12         2          0          1  100000        24  0.12   TR01
12       13         2          0          1  100000        24  0.12   TR01
13       14         2          1          1  100000        24  0.12   TR01
14       15         2          0          1  100000        24  0.12   TR01
15       16         2          0          1  100000        36  0.18   TR02
16       17         2          0          1  100000        36  0.18   TR02
17       18         2          0          1  100000        36  0.18   TR02
18       19         2          0          1  100000        36  0.18   TR02
19       20         2          0          1  100000        36  0.18   TR02